<!-- Footer -->
<footer class="page-footer font-small color">
  <br>
  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

        <!-- Content -->
        <h5 class="text-uppercase font-weight-bold">Thông tin</h5>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 260px;">
        <p class="font-weight-normal">Là Thẩm Mỹ Viện có đội ngũ bác sĩ đến từ nước ngoài sẽ làm bạn hài lòng hãy đến
          với chúng tôi để có nhan sắc rạng rở chúng tôi yêu bạn
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h5 class="text-uppercase font-weight-bold">hướng dẫn</h5>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a routerLink="/user/trang-khac/gioi-thieu">Giới Thiệu</a>
        </p>
        <p>
          <a routerLink="/user/trang-khac/san-pham">Dịch Vụ</a>
        </p>
        <p>
          <a routerLink="/user/trang-khac/tin-tuc">Tin Tức</a>
        </p>
        <p>
          <a routerLink="/user/trang-khac/tin-tuc">Phẩu Thuật Thẩm mỹ</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h5 class="text-uppercase font-weight-bold">hổ trợ </h5>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a routerLink="/user/trang-khac/lien-he">Liên Hệ</a>
        </p>
        <p>
          <a routerLink="/user/trang-khac/lien-he">Gọi Cho Chúng Tôi</a>
        </p>
        <p>
          <a routerLink="/user/trang-khac/san-pham">Cửa Hàng</a>
        </p>
        <p>
          <a routerLink="/user/trang-khac/lien-he">Google Map</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h5 class="text-uppercase font-weight-bold">liên hệ</h5>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="fa fa-home"></i> Ngũ Hành Sơn , Đà Nẵng
        </p>
        <p>
          <i class="fa fa-envelope"></i> thammyvien.com
        </p>
        <p>
          <i class="fa fa-phone"></i> + 032 881 1678
        </p>
        <p>
          <i class="fa fa-print"></i> + 0162 881 1678
        </p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="#">THẨM MỸ VIỆN.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->