<br><br><br>
<img src="https://vienthammykhothi.vn/upload/source/danh-muc/phau-thuat-tham-my/phau-thuat-tham-my-banner.jpg" class="img img-fluid"
  alt="Second sample avatar image">
<div class="container">

  <div class="row">
    <div class="col-lg-7 col-md-12">
      <h2 class="h3-responsive text-center text-uppercase font-weight-bold my-5 " style="color:#A65606">CĂNG DA THÁI
        DƯƠNG BÁN PHẦN - XÓA BỎ MỌI DẤU HIỆU CỦA TUỔI TÁC
      </h2>
      <p class="font-weight-normal" style="color:#A65606">
        CĂNG DA THÁI DƯƠNG BÁN PHẦN LÀ GÌ?
      </p>
      <p class="font-weight-normal text-left">
        Căng da thái dương bán phần là phẫu thuật nhỏ nhằm làm căng da, trẻ hóa nửa trên của khuôn mặt từ đuôi mắt đến
        chân tóc của trán.
      </p>
      <p class="font-weight-normal text-left">
        Phương pháp này chỉ cần thực hiện với một đường rạch nhỏ ở đường chân tóc, rồi dùng dụng cụ chuyên dụng để loại
        bỏ những vùng da dư và kéo căng vùng da từ đuôi mắt lên trên thái dương. Căng da thái dương có thể khắc phục
        được rất nhiều nhược điểm của độ tuổi tác như sụp mí, da chùng nhão, chảy xệ, vết chân chim, …
      </p>
      <img class="img-fluid" src="https://vienthammykhothi.vn/upload/source/thai-duong-ban-phan/cang-da-thai-duong-ban-phan-xoa-bo-moi-dau-hieu-cua-tuoi-tac-01.jpg">
      <p class="font-weight-normal" style="color:#A65606">
        <br>
        BÁC SĨ THỰC HIỆN
      </p>
      <p class="font-weight-normal text-left">
        Phẫu thuật căng da thái dương bán phần tại Viện thẩm mỹ Vinass được thực hiện bởi Thạc sĩ - Bác sĩ Kim Young
        Hwan đến từ Hàn Quốc, bậc thầy phẫu thuật thẩm mỹ đang công tác cơ hữu tại Bệnh viện thẩm mỹ Hàn Quốc với vai
        trò Viện trưởng.

      </p>
      <p class="font-weight-normal text-left">
        <i class="fa fa-angle-double-right fa-1x deep-orange-text"></i> Tại Việt Nam, bác đang hợp tác độc quyền với
        Viện thẩm mỹ Vinass. Triệt lông Hair Motif Remover với tốc độ triệt lông cực nhanh
      </p>
      <img class="img-fluid" src="https://vienthammykhothi.vn/upload/source/thai-duong-ban-phan/cang-da-thai-duong-ban-phan-xoa-bo-moi-dau-hieu-cua-tuoi-tac-02.JPG">
      <p class="font-weight-normal" style="color:#A65606">
        <br>
        ĐỐI TƯỢNG CĂNG DA THÁI DƯƠNG BÁN PHẦN
      </p>

      <p class="font-weight-normal text-left">
        <i class="fa fa-angle-double-right fa-1x deep-orange-text"></i>
        Người đang bước vào giai đoạn lão hóa, da vùng thái dương bị chùng nhão.
      </p>
      <p class="font-weight-normal text-left">
        <i class="fa fa-angle-double-right fa-1x deep-orange-text"></i>
        Người có nhiều vết chân chim xuất hiện vùng đuôi mắt.
      </p>
      <p class="font-weight-normal" style="color:#A65606">
        <br>
        ƯU ĐIỂM CỦA PHƯƠNG PHÁP CĂNG DA THÁI DƯƠNG BÁN PHẦN
      </p>

      <p class="font-weight-normal text-left">
        <i class="fa fa-angle-double-right fa-1x deep-orange-text"></i>
        Loại bỏ được phần da thừa nhăn nheo vĩnh viễn
      </p>
      <p class="font-weight-normal text-left">
        <i class="fa fa-angle-double-right fa-1x deep-orange-text"></i>
        Không để lại sẹo, không lộ dấu vết phẫu thuật thẩm mỹ
      </p>
      <p class="font-weight-normal text-left">
        <i class="fa fa-angle-double-right fa-1x deep-orange-text"></i>
        Vết mổ nhỏ, thời gian phục hồi nhanh
      </p>
      <p class="font-weight-normal text-left">
        <i class="fa fa-angle-double-right fa-1x deep-orange-text"></i>
        Xóa bỏ mọi nếp nhăn, mang lại khuôn mặt trẻ trung, tươi tắn
      </p>
      <p class="font-weight-normal text-left">
        <i class="fa fa-angle-double-right fa-1x deep-orange-text"></i>
        Loại bỏ lượng mỡ dư thừa ngăn chặn tình trạng da bị chùng nhão trở lại
      </p>
      <p class="font-weight-normal text-left">
        <i class="fa fa-angle-double-right fa-1x deep-orange-text"></i>
        Bảo tồn được các dây thần kinh cảm giác, vận động vùng mặt
      </p>

    </div>
    <div class="col-lg-5 col-md-12">
      <br>
      <h3><span class="badge badge-primary">Tin mới nhất</span></h3>
      <hr>
      <div *ngFor="let news of listNews">

        <!-- Small news -->
        <div class="single-news mb-4">

          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col-md-3">

              <!--Image-->
              <div class="view overlay rounded z-depth-1 mb-4">
                <img class="img-fluid" src="{{news.hinhAnh}}" alt="Sample image">
                <a routerLink="/user/trang-khac/chi-tiet-tin-tuc/{{news.id}}">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-9">

              <!-- Excerpt -->
              <p class="font-weight-bold dark-grey-text">{{news.ngayDang}}<img class="img-fluid" src="http://caytrongduoclieu.com/asset/image/hot.gif"
                  alt="Sample image"></p>
              <div class="d-flex justify-content-between">
                <div class="col-11 text-truncate pl-0 mb-3">
                  <a routerLink="/user/trang-khac/chi-tiet-tin-tuc/{{news.id}}" class="dark-grey-text">{{news.tieuDe}}</a>
                </div>
                <a routerLink="/user/trang-khac/chi-tiet-tin-tuc/{{news.id}}"> <i class="fa fa-angle-double-right fa-1x deep-orange-text"></i></a>
              </div>

            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->

        </div>
        <!-- Small news -->
        <hr>
      </div>
      <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffacebook&tabs&width=400&height=214&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
        width="330" height="214" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"
        allow="encrypted-media"></iframe>

    </div>
  </div>
</div>