.view {
    background: url("https://mdbootstrap.com/img/Photos/Others/img (42).jpg")no-repeat center center;
    background-size: cover;
}
@media (min-width: 768px) {
    .view {
        overflow: visible;
        margin-top: -56px;
    }
}
.navbar {
    z-index: 1;
}
.navbar {
    background-color: transparent;
}
.top-nav-collapse {
    background-color: #ffca28;
}
@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #ffca28 ;
    }
}


.c{
    background-color:white ;
    // height: 60px;
    z-index: 100;
}
// .nav-item{
//     // padding-top: 15px;
// }

// .menu{
//     padding-left: 15px;
// }
.text{
    // color: #795548 ;
    color: red ;
    font-size: 90%;
    font-weight: 400;
}

.dropdown-item:hover{
    background-color: #212121 ;
}

.select{
    padding-top: 8px;
    padding-left: 7px;
}

.dropdown-menu{
    background-color :#A65606;
}

.text-dropdown{
    color: #FAFAFA;
}



@media (max-width: 1068px) {
    .select{
        padding-bottom: 10px;
    }
}


@media (min-width: 1068px) {
    .custum{
        padding-right: 14px;
    }
}