<!-- fixed-top -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark c scrolling-navbar " >
  <div class="container">
    <a routerLink="/user/trang-chu">
      <img src="../../../../assets/img/vinass.png" width="150px" height="100px" alt="salem piano">
    </a>
    <!-- <a title="piano" class="indigo-text" style="font-weight: 600" routerLink="/user/trang-chu">SALEM PIANO </a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="onClick($event)">
      <i class="fa fa-bars fa-2x black-text"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto mr-auto">
        <li class="nav-item  waves-light custum" mdbWavesEffect>
          <a class="nav-link" style="color: #795548;font-size:14px;font-weight: 400" routerLink="/user/trang-chu">
            TRANG CHỦ
          </a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <div class="btn-group select ">

            <!-- Basic dropdown -->
            <a routerLink="/user/trang-khac/dieu-tri-da-spa" class="mr-4" type="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false" style="color: #795548;font-size:14px;font-weight: 400">
              ĐIỀU TRỊ DA & SPA
            </a>

            <div class="dropdown-menu">
              <a class="dropdown-item text-white" style="font-weight: 500" routerLink="/user/trang-khac/gioi-thieu">Triệt
                Lông</a>

              <a class="dropdown-item text-white" style="font-weight: 500" routerLink="/user/trang-khac/hoc-piano">Điều
                Trị Da</a>

              <a class="dropdown-item text-white" style="font-weight: 500" routerLink="/user/trang-khac/gioi-thieu">Trẻ
                Hóa Da</a>

              <a class="dropdown-item text-white" style="font-weight: 500" routerLink="/user/trang-khac/gioi-thieu">Chăm
                Sóc Da</a>
              <a class="dropdown-item text-white" style="font-weight: 500" routerLink="/user/trang-khac/gioi-thieu">Chăm
                Sóc Cơ Thể</a>
            </div>
            <!-- Basic dropdown -->


          </div>
        </li>

        <li class="nav-item waves-light" mdbWavesEffect>
          <div class="btn-group select ">

            <!-- Basic dropdown -->
            <a routerLink="/user/trang-khac/phau-thuat-tham-my" class="mr-4" type="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false" style="color: #795548;font-size:14px;font-weight: 400">
              PHẨU THUẬT THẨM MỸ
            </a>

            <div class="dropdown-menu">
              <a class="dropdown-item text-white" style="font-weight: 500" routerLink="/user/trang-khac/gioi-thieu">Phẩu
                Thuật Căn Da</a>

              <a class="dropdown-item text-white" style="font-weight: 500" routerLink="/user/trang-khac/hoc-piano">Phẩu
                Thuật Hút Mỡ</a>

              <a class="dropdown-item text-white" style="font-weight: 500" routerLink="/user/trang-khac/gioi-thieu">Phẩu
                Thuật Môi</a>

              <a class="dropdown-item text-white" style="font-weight: 500" routerLink="/user/trang-khac/gioi-thieu">Hàm
                Mặt</a>
              <a class="dropdown-item text-white" style="font-weight: 500" routerLink="/user/trang-khac/gioi-thieu">Thẩm
                Mỹ Mắt</a>
            </div>
            <!-- Basic dropdown -->


          </div>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <div class="btn-group select ">

            <!-- Basic dropdown -->
            <a routerLink="/user/trang-khac/tham-my-khac" class="mr-4" type="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false" style="color: #795548;font-size:14px;font-weight: 400">
              THẨM MỸ KHÁC
            </a>

            <div class="dropdown-menu">
              <a class="dropdown-item text-white" style="font-weight: 500" routerLink="/user/trang-khac/gioi-thieu">Trị
                Hói Đầu</a>

              <a class="dropdown-item text-white" style="font-weight: 500" routerLink="/user/trang-khac/hoc-piano">Điều
                Trị Hôi Nách</a>

              <a class="dropdown-item text-white" style="font-weight: 500" routerLink="/user/trang-khac/gioi-thieu">Phun
                Xăm Điêu Khắc</a>

            </div>
            <!-- Basic dropdown -->


          </div>
        </li>
        <li class="nav-item waves-light custum" mdbWavesEffect>
          <a class="nav-link" style="color: #795548;font-size:14px;font-weight: 400" href="#">
            DẬY NGHỀ
          </a>
        </li>
        <li class="nav-item waves-light custum" mdbWavesEffect>
          <a class="nav-link" style="color: #795548;font-size:14px;font-weight: 400" routerLink="/user/trang-khac/my-pham">
            MỸ PHẨM
          </a>
        </li>
        <li class="nav-item waves-light custum" mdbWavesEffect>
          <a class="nav-link" style="color: #795548;font-size:14px;font-weight: 400" routerLink="/user/trang-khac/lien-he">
            LIÊN HỆ
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

