<br><br><br>
<img src="https://vienthammykhothi.vn/upload/source/danh-muc/tham-my-khong-phau-thuat/tham-my-khong-phau-thuat-banner.jpg"
  class="img img-fluid" alt="Second sample avatar image">
<div class="container">
  <h2 class="h2-responsive text-center text-uppercase font-weight-bold my-5 " style="color:#A65606">THẨM MỸ KHÔNG PHẪU
    THUẬT
  </h2>
  <div class="row">
    <div class="col-lg-4">
      <!-- Card -->
      <div class="card">
        <div class="view view-cascade overlay">
          <img src="https://vienthammykhothi.vn/upload/source/cay-mo-tu-than-lipivage/cay-mo-tu-than-lipivage-01.jpg"
            class="img-fluid hinh" width="100%" alt="sample photo">
          <a routerLink="/user/trang-khac/lam-to-duong-vat">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!-- Card content -->
        <div class="card-body">

          <a routerLink="/user/trang-khac/lam-to-duong-vat">
            <p class="font-weight-normal text-uppercase white-text" style="font-size:80%">
              <i class="fa fa-angle-double-right fa-1x white-text"></i>
              Tư vấn cấy mở làm to dương vật
            </p>
          </a>
        </div>

      </div>
      <!-- Card -->

    </div>

    <div class="col-lg-4">
      <!-- Card -->
      <div class="card">
        <div class="view view-cascade overlay">
          <img src="https://vienthammykhothi.vn/upload/source/cay-mo-tu-than-lipivage/cay-mo-tu-than-lipivage-01.jpg"
            class="img-fluid hinh" width="100%" alt="sample photo">
          <a routerLink="/user/trang-khac/lam-to-duong-vat">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!-- Card content -->
        <div class="card-body">

          <a routerLink="/user/trang-khac/lam-to-duong-vat">
            <p class="font-weight-normal text-uppercase white-text" style="font-size:80%">
              <i class="fa fa-angle-double-right fa-1x white-text"></i>
              Tư vấn cấy mở làm to dương vật
            </p>
          </a>
        </div>

      </div>
      <!-- Card -->

    </div>

    <div class="col-lg-4">
      <!-- Card -->
      <div class="card">
        <div class="view view-cascade overlay">
          <img src="https://vienthammykhothi.vn/upload/source/cay-mo-tu-than-lipivage/cay-mo-tu-than-lipivage-01.jpg"
            class="img-fluid hinh" width="100%" alt="sample photo">
          <a routerLink="/user/trang-khac/lam-to-duong-vat">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!-- Card content -->
        <div class="card-body">

          <a routerLink="/user/trang-khac/lam-to-duong-vat">
            <p class="font-weight-normal text-uppercase white-text" style="font-size:80%">
              <i class="fa fa-angle-double-right fa-1x white-text"></i>
              Tư vấn cấy mở làm to dương vật
            </p>
          </a>
        </div>

      </div>
      <!-- Card -->

    </div>
  </div>

  <hr>
  <div class="row">
    <div class="col-lg-4">
      <!-- Card -->
      <div class="card">
        <div class="view view-cascade overlay">
          <img src="https://vienthammykhothi.vn/upload/source/cay-mo-tu-than-lipivage/cay-mo-tu-than-lipivage-01.jpg"
            class="img-fluid hinh" width="100%" alt="sample photo">
          <a routerLink="/user/trang-khac/lam-to-duong-vat">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!-- Card content -->
        <div class="card-body">

          <a routerLink="/user/trang-khac/lam-to-duong-vat">
            <p class="font-weight-normal text-uppercase white-text" style="font-size:80%">
              <i class="fa fa-angle-double-right fa-1x white-text"></i>
              Tư vấn cấy mở làm to dương vật
            </p>
          </a>
        </div>

      </div>
      <!-- Card -->

    </div>

    <div class="col-lg-4">
      <!-- Card -->
      <div class="card">
        <div class="view view-cascade overlay">
          <img src="https://vienthammykhothi.vn/upload/source/cay-mo-tu-than-lipivage/cay-mo-tu-than-lipivage-01.jpg"
            class="img-fluid hinh" width="100%" alt="sample photo">
          <a routerLink="/user/trang-khac/lam-to-duong-vat">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!-- Card content -->
        <div class="card-body">

          <a routerLink="/user/trang-khac/lam-to-duong-vat">
            <p class="font-weight-normal text-uppercase white-text" style="font-size:80%">
              <i class="fa fa-angle-double-right fa-1x white-text"></i>
              Tư vấn cấy mở làm to dương vật
            </p>
          </a>
        </div>

      </div>
      <!-- Card -->

    </div>

    <div class="col-lg-4">
      <!-- Card -->
      <div class="card">
        <div class="view view-cascade overlay">
          <img src="https://vienthammykhothi.vn/upload/source/cay-mo-tu-than-lipivage/cay-mo-tu-than-lipivage-01.jpg"
            class="img-fluid hinh" width="100%" alt="sample photo">
          <a routerLink="/user/trang-khac/lam-to-duong-vat">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!-- Card content -->
        <div class="card-body">

          <a routerLink="/user/trang-khac/lam-to-duong-vat">
            <p class="font-weight-normal text-uppercase white-text" style="font-size:80%">
              <i class="fa fa-angle-double-right fa-1x white-text"></i>
              Tư vấn cấy mở làm to dương vật
            </p>
          </a>
        </div>

      </div>
      <!-- Card -->

    </div>
  </div>
</div>
<br>