<div class="row">
  <div class="col-md-12">
    <!--Card-->
    <div class="card card-cascade narrower">
      <!--Card image-->
      <div class="view gradient-card-header blue darken-2">
        <h3 class="h3-responsive text-white text-center" style="margin:10px">
          <strong>TIN TỨC</strong>
        </h3>
      </div>
      <!--/Card image-->
      <!--Card content-->
      <div class="card-body">
        <div class="container">
          <div class="row mt-3">
            <h3 class="text-left">
              <strong>THÊM TIN TỨC</strong>
            </h3>
          </div>
        </div>

        <!--Table-->
        <table class="table">

          <!--Table body-->
          <tbody>
            <tr>
              <mdb-badge default="true">Tiêu đề</mdb-badge>
              <input type="text" [(ngModel)]="news.tieuDe" name="tieuDe" id="materialRegisterFormFirstName" class="form-control" placeholder="Nhập tiêu đề">
            </tr>
            <hr>
            <tr>
              <mdb-badge default="true">Tóm tắt</mdb-badge>
              <input type="text" [(ngModel)]="news.tomTat" name="tomTat" id="materialRegisterFormFirstName" class="form-control" placeholder="Nhập tóm tắt">
            </tr>
            <hr>
            <tr>



              <div class="row">
                <div class="col">
                  <mdb-badge default="true">Hình ảnh</mdb-badge>
                  <input type="file" size="sm" mdbBtn color="default" (change)="onFileChange($event)" #fileInput outline="true" mdbWavesEffect
                    name="myFile" class="form-control">
                </div>

                <div class="col-4">
                </div>
              </div>

            </tr>
            <hr>
            <tr>
              <mdb-badge default="true">Nội dung</mdb-badge>
              <angular-editor [(ngModel)]="news.noiDung" [config]="editorConfigNoiDung" name="noiDung"></angular-editor>
            </tr>
            <hr>
            <!-- <tr>
              <mdb-badge default="true">Từ khóa</mdb-badge>
              <input type="text" [(ngModel)]="news.tuKhoa" name="tuKhoa" id="materialRegisterFormFirstName" class="form-control" placeholder="Nhập từ khóa">
            </tr>
            <hr> -->

          </tbody>

          <div class="text-center">
            <button (click)="addNews()" mdbBtn type="button" color="success" rounded="true" outline="true" mdbWavesEffect>
              <mdb-icon icon="plus-square" class="mr-1 green-text"></mdb-icon>Thêm tin
            </button>
          </div>

          <!--Table body-->
        </table>
        <!--Table-->


      </div>
      <!--/.Card content-->
    </div>
    <!--/.Card-->
  </div>
</div>