<br><br><br>
<img src="https://www.vienthammykhothi.vn/upload/source/danh-muc/dieu-tri-da/banner-dieu-tri-da.jpg" class="img img-fluid"
  alt="Second sample avatar image">
<div class="container">

  <div class="row">
    <div class="col-lg-7 col-md-12">
      <h2 class="h3-responsive text-center text-uppercase font-weight-bold my-5 " style="color:#A65606">VĨNH BIỆT ĐÁM
        VI-Ô-LÔNG ĐÁNG GHÉT VỚI CÔNG NGHỆ TRIỆT LÔNG HAIR MOTIF REMOVER
      </h2>
      <p class="font-weight-normal" style="color:#A65606">
        HAIR MOTIF REMOVER LÀ GÌ
      </p>
      <p class="font-weight-normal text-left">
        Công nghệ Triệt long Hair Motif Remover ứng dụng công nghệ OPT để nâng cao khả năng triệt vĩnh viễn lông một
        cách nhanh hơn và tránh gây tác dụng phụ lên da, kể cả những vùng da yếu và nhạy cảm. Thông qua sự hấp thu ánh
        sáng có chọn lọc công nghệ OPT sẽ phụ thuộc vào từng màu da cụ thể mà tác động vào nang lông.
      </p>
      <p class="font-weight-normal text-left">
        Công nghệ Motif tự động điều chỉnh nhiệt độ, tần số theo làn da, không làm đau, nhói các vùng da nhỏ, nhạy cảm
        như một số công nghệ ánh sáng cũ điều chỉnh theo cảm tính của kĩ thuật viên.
      </p>
      <img class="img-fluid" src="https://www.vienthammykhothi.vn/upload/source/hair-motif-remover/hair-motif-remover-01.jpg">
      <p class="font-weight-normal" style="color:#A65606">
        <br>
        THÔNG TIN ĐIỀU TRỊ
      </p>
      <p class="font-weight-normal text-left">
        <i class="fa fa-angle-double-right fa-1x deep-orange-text"></i>
        Triệt lông Hair Motif Remover với tốc độ triệt lông cực nhanh
      </p>
      <p class="font-weight-normal text-left">
        <i class="fa fa-angle-double-right fa-1x deep-orange-text"></i>
        Triệt được cả trên những vùng lớn: lưng, ngực, bụng, chân
      </p>
      <p class="font-weight-normal text-left">
        <i class="fa fa-angle-double-right fa-1x deep-orange-text"></i>
        Ít đau tại các vùng nhạy cảm: bikini, vùng mép, vùng nách
      </p>
      <p class="font-weight-normal text-left">
        <i class="fa fa-angle-double-right fa-1x deep-orange-text"></i>
        An toàn, không gây bỏng da với kỹ thuật lạnh trực tiếp 50C
      </p>
      <p class="font-weight-normal text-left">
        <i class="fa fa-angle-double-right fa-1x deep-orange-text"></i>
        Các thông số hoạt động có độ chính xác cao
      </p>
      <p class="font-weight-normal text-left">
        <i class="fa fa-angle-double-right fa-1x deep-orange-text"></i>
        Bất kỳ ai cũng có thể sử dụng phương pháp này bởi an toàn – nhanh chóng và hiệu quả
      </p>
      <p class="font-weight-normal text-left">
        <i class="fa fa-angle-double-right fa-1x deep-orange-text"></i>
        Gói triệt lông nhiều lần hay ít lần tùy theo vùng triệt và mật độ lông của khách hàng.
      </p>
      <p class="font-weight-normal" style="color:#A65606">
        ƯU ĐIỂM TUYỆT VỜI CỦA CÔNG NGHỆ TRIỆT LÔNG HAIR MOTIF REMOVER
      </p>
      <p class="font-weight-normal text-left">
        Công nghệ sử dụng nguồn năng lượng có biên độ thấp với tần số cao, cộng hưởng nhiệt để xóa bỏ những sợi lông
        cứng đầu nhất, nguồn năng lượng đi sâu vào nang lông mà không ảnh hưởng đến lớp biểu bì
      </p>
      <p class="font-weight-normal text-left">
        Chương trình tự động Motif kiểm soát trở kháng làn da sau mỗi xung ánh sáng giúp kĩ thuật viên nhận biết được
        khu vực hoàn thành và chuyển sang khu vực khác.
      </p>
      <p class="font-weight-normal text-left">
        Kỹ thuật lạnh trực tiếp 50C bảo vệ bề mặt da.
      </p>
      <p class="font-weight-normal text-left">
        Máy có 2 đầu tiếp xúc dành riêng cho vùng da hẹp và vùng da rộng. Đối với vùng da rộng, máy trượt nhanh mà
        không bỏ sót nang lông nào.
      </p>
    </div>
    <div class="col-lg-5 col-md-12">
      <br>
      <h3><span class="badge badge-primary">Tin mới nhất</span></h3>
      <hr>
      <div *ngFor="let news of listNews">

        <!-- Small news -->
        <div class="single-news mb-4">

          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col-md-3">

              <!--Image-->
              <div class="view overlay rounded z-depth-1 mb-4">
                <img class="img-fluid" src="{{news.hinhAnh}}" alt="Sample image">
                <a routerLink="/user/trang-khac/chi-tiet-tin-tuc/{{news.id}}">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-9">

              <!-- Excerpt -->
              <p class="font-weight-bold dark-grey-text">{{news.ngayDang}}<img class="img-fluid" src="http://caytrongduoclieu.com/asset/image/hot.gif"
                  alt="Sample image"></p>
              <div class="d-flex justify-content-between">
                <div class="col-11 text-truncate pl-0 mb-3">
                  <a routerLink="/user/trang-khac/chi-tiet-tin-tuc/{{news.id}}" class="dark-grey-text">{{news.tieuDe}}</a>
                </div>
                <a routerLink="/user/trang-khac/chi-tiet-tin-tuc/{{news.id}}"> <i class="fa fa-angle-double-right fa-1x deep-orange-text"></i></a>
              </div>

            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->

        </div>
        <!-- Small news -->
        <hr>
      </div>
      <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffacebook&tabs&width=400&height=214&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
        width="330" height="214" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"
        allow="encrypted-media"></iframe>

    </div>
  </div>
</div>