<div class="uk-section uk-section-muted uk-flex uk-flex-middle uk-animation-fade" uk-height-viewport>
  <div class="uk-width-1-1">
    <div class="uk-container">
      <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid>
        <div class="uk-width-1-1@m">
          <div class="uk-margin uk-width-large uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
            <!-- <h3 class="uk-card-title uk-text-center">LẤY LẠI MẬT KHẨU VỚI VINASS SCHOOLS</h3> -->
            <h5 class="card-header default-color white-text text-center py-4">
              <strong>LẤY LẠI MẬT KHẨU</strong>
            </h5>
            <br>
            <form>
              <div class="uk-margin">
                <div class="uk-inline uk-width-1-1">
                  <span class="uk-form-icon" uk-icon="icon: mail"></span>
                  <input class="uk-input uk-form-large" placeholder="Nhập Email của bạn" type="text">
                </div>
              </div>
              <div class="uk-margin">
                <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">GỬI
                  MẬT KHẨU</button>
              </div>
              <div class="uk-text-small uk-text-center">
                Mật khẩu sẽ gửi tới email của bạn! <a routerLink="/user/login/login">Đăng nhập</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>