<br><br><br>
<img src="https://www.vienthammykhothi.vn/public/img/banner-sanpham.jpg" class="img img-fluid" alt="Second sample avatar image">
<div class="container">
  <div class="row">
    <div class="col">
      <!-- Section: Products v.2 -->
      <section class="text-center my-5">
        <h2 class="h2-responsive text-center text-uppercase font-weight-bold my-5 " style="color:#A65606">mỹ phẩm
        </h2>
        <hr>
        <!-- Grid row -->
        <div class="row">

          <!-- Grid column -->
          <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
            <!-- Card -->
            <div class="card card-cascade wider card-ecommerce">
              <!-- Card image -->
              <div class="view view-cascade overlay">
                <img src="https://vienthammykhothi.vn/upload/images/product/ab03-review-thumb.jpg?1483607863649" width="100%"
                  class="img-fluid" alt="sample photo">
                <a routerLink="/user/trang-khac/san-pham1">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <!-- Card image -->
              <!-- Card content -->
              <div class="card-body card-body-cascade text-center">
                <!-- Category & Title -->

                <h4 class="card-title">
                  <h5 class="font-weight-normal">COLD PRESSED ORGANIC</h5>
                  <!-- <button type="button" class="btn btn-amber">Xem</button> -->
                </h4>
                <!-- Description -->
                <p class="card-text">Làm mờ vết thâm, tàn nhang Làm trắng da Giảm tình trạng ngứa và khó
                  chịu cho da.</p>
                <!-- Card footer -->
                <div class="card-footer px-1">
                  <span class="float-center font-weight-bold">
                    <strong><img class="img-fluid" src="http://caytrongduoclieu.com/asset/image/hot.gif" alt="Sample image">
                      85$</strong>
                  </span>

                </div>
              </div>
              <!-- Card content -->
            </div>
            <!-- Card -->
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
            <!-- Card -->
            <div class="card card-cascade wider card-ecommerce">
              <!-- Card image -->
              <div class="view view-cascade overlay">
                <img src="https://vienthammykhothi.vn/upload/images/product/ab03-review-thumb.jpg?1483607863649" width="100%"
                  class="img-fluid" alt="sample photo">
                <a routerLink="/user/trang-khac/san-pham1">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <!-- Card image -->
              <!-- Card content -->
              <div class="card-body card-body-cascade text-center">
                <!-- Category & Title -->

                <h4 class="card-title">
                  <h5 class="font-weight-normal">COLD PRESSED ORGANIC</h5>
                  <!-- <button type="button" class="btn btn-amber">Xem</button> -->
                </h4>
                <!-- Description -->
                <p class="card-text">Làm mờ vết thâm, tàn nhang Làm trắng da Giảm tình trạng ngứa và khó
                  chịu cho da.</p>
                <!-- Card footer -->
                <div class="card-footer px-1">
                  <span class="float-center font-weight-bold">
                    <strong><img class="img-fluid" src="http://caytrongduoclieu.com/asset/image/hot.gif" alt="Sample image">
                      85$</strong>
                  </span>

                </div>
              </div>
              <!-- Card content -->
            </div>
            <!-- Card -->
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
            <!-- Card -->
            <div class="card card-cascade wider card-ecommerce">
              <!-- Card image -->
              <div class="view view-cascade overlay">
                <img src="https://vienthammykhothi.vn/upload/images/product/ab03-review-thumb.jpg?1483607863649" width="100%"
                  class="img-fluid" alt="sample photo">
                <a routerLink="/user/trang-khac/san-pham1">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <!-- Card image -->
              <!-- Card content -->
              <div class="card-body card-body-cascade text-center">
                <!-- Category & Title -->

                <h4 class="card-title">
                  <h5 class="font-weight-normal">COLD PRESSED ORGANIC</h5>
                  <!-- <button type="button" class="btn btn-amber">Xem</button> -->
                </h4>
                <!-- Description -->
                <p class="card-text">Làm mờ vết thâm, tàn nhang Làm trắng da Giảm tình trạng ngứa và khó
                  chịu cho da.</p>
                <!-- Card footer -->
                <div class="card-footer px-1">
                  <span class="float-center font-weight-bold">
                    <strong><img class="img-fluid" src="http://caytrongduoclieu.com/asset/image/hot.gif" alt="Sample image">
                      85$</strong>
                  </span>

                </div>
              </div>
              <!-- Card content -->
            </div>
            <!-- Card -->
          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->
        <hr>
        <!-- Grid row -->
        <div class="row">

          <!-- Grid column -->
          <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
            <!-- Card -->
            <div class="card card-cascade wider card-ecommerce">
              <!-- Card image -->
              <div class="view view-cascade overlay">
                <img src="https://vienthammykhothi.vn/upload/images/product/ab03-review-thumb.jpg?1483607863649" width="100%"
                  class="img-fluid" alt="sample photo">
                <a routerLink="/user/trang-khac/san-pham1">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <!-- Card image -->
              <!-- Card content -->
              <div class="card-body card-body-cascade text-center">
                <!-- Category & Title -->

                <h4 class="card-title">
                  <h5 class="font-weight-normal">COLD PRESSED ORGANIC</h5>
                  <!-- <button type="button" class="btn btn-amber">Xem</button> -->
                </h4>
                <!-- Description -->
                <p class="card-text">Làm mờ vết thâm, tàn nhang Làm trắng da Giảm tình trạng ngứa và khó
                  chịu cho da.</p>
                <!-- Card footer -->
                <div class="card-footer px-1">
                  <span class="float-center font-weight-bold">
                    <strong><img class="img-fluid" src="http://caytrongduoclieu.com/asset/image/hot.gif" alt="Sample image">
                      85$</strong>
                  </span>

                </div>
              </div>
              <!-- Card content -->
            </div>
            <!-- Card -->
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
            <!-- Card -->
            <div class="card card-cascade wider card-ecommerce">
              <!-- Card image -->
              <div class="view view-cascade overlay">
                <img src="https://vienthammykhothi.vn/upload/images/product/ab03-review-thumb.jpg?1483607863649" width="100%"
                  class="img-fluid" alt="sample photo">
                <a routerLink="/user/trang-khac/san-pham1">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <!-- Card image -->
              <!-- Card content -->
              <div class="card-body card-body-cascade text-center">
                <!-- Category & Title -->

                <h4 class="card-title">
                  <h5 class="font-weight-normal">COLD PRESSED ORGANIC</h5>
                  <!-- <button type="button" class="btn btn-amber">Xem</button> -->
                </h4>
                <!-- Description -->
                <p class="card-text">Làm mờ vết thâm, tàn nhang Làm trắng da Giảm tình trạng ngứa và khó
                  chịu cho da.</p>
                <!-- Card footer -->
                <div class="card-footer px-1">
                  <span class="float-center font-weight-bold">
                    <strong><img class="img-fluid" src="http://caytrongduoclieu.com/asset/image/hot.gif" alt="Sample image">
                      85$</strong>
                  </span>

                </div>
              </div>
              <!-- Card content -->
            </div>
            <!-- Card -->
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
            <!-- Card -->
            <div class="card card-cascade wider card-ecommerce">
              <!-- Card image -->
              <div class="view view-cascade overlay">
                <img src="https://vienthammykhothi.vn/upload/images/product/ab03-review-thumb.jpg?1483607863649" width="100%"
                  class="img-fluid" alt="sample photo">
                <a routerLink="/user/trang-khac/san-pham1">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <!-- Card image -->
              <!-- Card content -->
              <div class="card-body card-body-cascade text-center">
                <!-- Category & Title -->

                <h4 class="card-title">
                  <h5 class="font-weight-normal">COLD PRESSED ORGANIC</h5>
                  <!-- <button type="button" class="btn btn-amber">Xem</button> -->
                </h4>
                <!-- Description -->
                <p class="card-text">Làm mờ vết thâm, tàn nhang Làm trắng da Giảm tình trạng ngứa và khó
                  chịu cho da.</p>
                <!-- Card footer -->
                <div class="card-footer px-1">
                  <span class="float-center font-weight-bold">
                    <strong><img class="img-fluid" src="http://caytrongduoclieu.com/asset/image/hot.gif" alt="Sample image">
                      85$</strong>
                  </span>

                </div>
              </div>
              <!-- Card content -->
            </div>
            <!-- Card -->
          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </section>
      <!-- Section: Products v.2 -->
    </div>
  </div>
</div>