<br><br><br>
<img src="https://vienthammykhothi.vn/upload/source/cay-mo/cay-mo-caunho-pc.jpg" class="img img-fluid" alt="Second sample avatar image">
<div class="container">

  <div class="row">
    <div class="col-lg-7 col-md-12">
      <h2 class="h3-responsive text-center text-uppercase font-weight-bold my-5 " style="color:#A65606">TĂNG KÍCH THƯỚC
        “CẬU NHỎ” AN TOÀN BẰNG PHƯƠNG PHÁP CẤY MỠ TỰ THÂN LIPIVAGE
      </h2>
      <p class="font-weight-normal" style="color:#A65606">
        CẤY MỠ LIPIVAGE TĂNG KÍCH THƯỚC DƯƠNG VẬT LÀ GÌ?
      </p>
      <p class="font-weight-normal text-left">
        Cấy mỡ tự thân trong phẫu thuật thẩm mỹ là một tiến bộ mới giúp dương vật nam giới được cải thiện một cách đáng
        kể. Đây là phương pháp lấy mỡ từ những vùng nhiều mỡ thừa trên cơ thể như bụng, mông, đùi, …rồi ghép vào dọc
        theo hai bên trục dương vật để làm tăng kích thước của bộ phận này.
      </p>
      <p class="font-weight-normal text-left">
        Với công nghệ cấy mỡ LipiVage, mỡ sau khi lấy ra sẽ được đưa vào hệ thống máy chuyên dụng nhằm loại bỏ mọi tạp
        chất, chọn lọc ra những tế bào gốc chứa hàng triệu yếu tố sinh trưởng. Mô mỡ nguyên bào có tác dụng làm cho tổ
        chức mỡ tăng sinh, kích thích gia tăng số lượng tế bào mỡ, giúp cho tế bào mỡ tồn tại bền vững trên vùng mô
        cấy.
      </p>
      <p class="font-weight-normal text-left">
        Vì vậy, khi cấy trở lại vào dương vật, mỡ nguyên bào này sẽ giúp dương vật gia tăng kích thước toàn tự nhiên và
        có hiệu quả kéo dài.
      </p>
      <img class="img-fluid" src="https://vienthammykhothi.vn/upload/source/cay-mo-tu-than-lipivage/cay-mo-tu-than-lipivage-01.jpg">
      <p class="font-weight-normal" style="color:#A65606">
        <br>
        BÁC SĨ THỰC HIỆN
      </p>
      <p class="font-weight-normal text-left">
        Tăng kích thước dương vật bằng mỡ tự thân LipiVage được Tiến sĩ, bác sĩ Allan Wong Shiang Ju- chuyên ngành tiêm
        thẩm mỹ, trẻ hóa bằng mỡ tự thân trực tiếp thực hiện.

      </p>
      <p class="font-weight-normal text-left">
        Với chuyên môn cao và kinh nghiệm dày dặn của bác sĩ, tế bào mỡ được cấy một cách chính xác, định hình cao,
        không bị gồ ghề móp méo, không để lại sẹo, đảm bảo an toàn tuyệt đối.
      </p>
      <img class="img-fluid" src="https://vienthammykhothi.vn/upload/source/cay-mo-tu-than-lipivage/cay-mo-tu-than-lipivage-02.jpg">
      <p class="text-center">Tiến sĩ, bác sĩ Allan Wong Shiang Ju</p>
      <p class="font-weight-normal" style="color:#A65606">
        <br>
        ĐỐI TƯỢNG TĂNG KÍCH THƯỚC DƯƠNG VẬT BẰNG CẤY MỠ LIPIVAGE
      </p>

      <p class="font-weight-normal text-left">
        <i class="fa fa-angle-double-right fa-1x deep-orange-text"></i>
        Nam giới không hài lòng về kích thước dương vật của mình.
      </p>

      <p class="font-weight-normal" style="color:#A65606">
        <br>
        ƯU ĐIỂM CỦA PHƯƠNG PHÁP TĂNG KÍCH THƯỚC DƯƠNG VẬT BẰNG CẤY MỠ LIPIVAGE
      </p>

      <p class="font-weight-normal text-left">
        <i class="fa fa-angle-double-right fa-1x deep-orange-text"></i>
        Không cần phẫu thuật, không để lại sẹo, an toàn, không để lại di chứng
      </p>
      <p class="font-weight-normal text-left">
        <i class="fa fa-angle-double-right fa-1x deep-orange-text"></i>
        Không ảnh hưởng đến khả năng cương cứng của dương vật hay chức năng sinh sản.
      </p>
      <p class="font-weight-normal text-left">
        <i class="fa fa-angle-double-right fa-1x deep-orange-text"></i>
        Tăng cảm giác khi quan hệ tình dục
      </p>
      <p class="font-weight-normal text-left">
        <i class="fa fa-angle-double-right fa-1x deep-orange-text"></i>
        Tăng từ 2 - 5cm chu vi dương vật
      </p>
      <p class="font-weight-normal text-left">
        <i class="fa fa-angle-double-right fa-1x deep-orange-text"></i>
        Không sử dụng bất kỳ chất làm đầy nhân tạo nào, chỉ dùng mỡ tự thân nên hoàn toàn, tương thích với cơ thể và
        không phải lo ngại về những rủi ro biến chứng
      </p>
      <p class="font-weight-normal text-left">
        <i class="fa fa-angle-double-right fa-1x deep-orange-text"></i>
        Công nghệ LipiVage chọn lọc được những tế bào mỡ nguyên bào, giúp dương vật tăng kích thước tự nhiên và hiệu
        quả dài lâu
      </p>
      <p class="font-weight-normal text-left">
        <i class="fa fa-angle-double-right fa-1x deep-orange-text"></i>
        Có thể ra về luôn trong ngày không cần nằm viện. Thời gian để vết thương lành lại cũng rất ngắn
      </p>
      <img class="img-fluid" src="https://vienthammykhothi.vn/upload/source/cay-mo-tu-than-lipivage/cay-mo-tu-than-lipivage-03.jpg">
      <p class="text-center">Dương vật tăng kích thước giúp tăng cảm giác khi quan hệ tình dục</p>
    </div>
    <div class="col-lg-5 col-md-12">
      <br>
      <h3><span class="badge badge-primary">Tin mới nhất</span></h3>
      <hr>
      <div *ngFor="let news of listNews">

        <!-- Small news -->
        <div class="single-news mb-4">

          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col-md-3">

              <!--Image-->
              <div class="view overlay rounded z-depth-1 mb-4">
                <img class="img-fluid" src="{{news.hinhAnh}}" alt="Sample image">
                <a routerLink="/user/trang-khac/chi-tiet-tin-tuc/{{news.id}}">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-9">

              <!-- Excerpt -->
              <p class="font-weight-bold dark-grey-text">{{news.ngayDang}}<img class="img-fluid" src="http://caytrongduoclieu.com/asset/image/hot.gif"
                  alt="Sample image"></p>
              <div class="d-flex justify-content-between">
                <div class="col-11 text-truncate pl-0 mb-3">
                  <a routerLink="/user/trang-khac/chi-tiet-tin-tuc/{{news.id}}" class="dark-grey-text">{{news.tieuDe}}</a>
                </div>
                <a routerLink="/user/trang-khac/chi-tiet-tin-tuc/{{news.id}}"> <i class="fa fa-angle-double-right fa-1x deep-orange-text"></i></a>
              </div>

            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->

        </div>
        <!-- Small news -->
        <hr>
      </div>
      <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffacebook&tabs&width=400&height=214&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
        width="330" height="214" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"
        allow="encrypted-media"></iframe>

    </div>
  </div>
</div>