<div class="container">
    <br>
    <!-- <div class="row">
        <div class="col  wow bounceInLeft" data-wow-delay="0.1s">
            <img class="custom-img img-fluid" src="http://mediaold.tiin.vn:8080/media_old_2016//medias12//2015/08/19/2bb501cc-21fb-4782-b178-e352a1b0accc.jpg">
        </div>
        <div class="col wow  bounceInRight" data-wow-delay="0.1s">
            <img class="custom-img img-fluid" src="https://png.pngtree.com/png_detail/18/09/10/pngtree-black-piano-model-png-clipart_3110087.jpg">
        </div>
    </div>
    <br> -->
    <div class="row">
        <div class="col-lg-12 col-md-6 mb-lg-0 mb-5">
            <h3 class="text-center font-weight-bold">Giới Thiệu</h3>
            <br>
            <p class="font-weight-normal text-left">
                Xã hội ngày càng văn minh tiến bộ, con người không chỉ đơn giản có nhu cầu về “ăn ngon, mặc đẹp” mà nhu cầu về tinh thần
                cũng được nâng cao. Vì thế, sau bao bộn bề, lo toan của cuộc sống, con người tìm đến âm nhạc như một “món
                ăn” tinh thần thiết yếu.
            </p>

            <p class="font-weight-normal text-left">
                Sẽ như thế nào nếu vào một đêm trăng thanh gió mát, bạn ngồi ngoài ban công nhâm nhi tách trà và nghe điệu nhạc du dương
                phát ra từ cây đàn piano do chính vợ bạn, con bạn đang chơi? Điều ấy thật tuyệt vời!
            </p>
            <img class="custom-img img-fluid" src="https://scontent.fdad1-1.fna.fbcdn.net/v/t1.0-9/47681675_974914839370064_3756747047009517568_o.jpg?_nc_cat=106&_nc_ht=scontent.fdad1-1.fna&oh=3ed0cfbdd611b44c8d78aad7eb120396&oe=5C8BF54C">


            <p class="font-weight-normal text-left">
                <br> Đêm nhạc cũng sẽ không hoàn hảo nếu thiếu đi tiếng đàn mộc mạc của guitar. Một buổi dã ngoại ngoài trời
                sẽ kém phần sôi động khi thiếu đi tiếng đàn guitar. Quãng đời sinh viên cũng sẽ “nhạt” nếu không có những
                buổi đàn hát cùng nhau.
            </p>

            <p class="font-weight-normal text-left">
                Từ những khoảnh khắc rất đổi bình thường trên mới thấy âm nhạc thật sự rất cần cho cuộc sống của chúng ta. Đầu tư cho âm
                nhạc là đầu tư cho cho tinh thần, cho sự văn minh, cho đam mê và thậm chí là sự nghiệp cho con bạn.
            </p>
            <img class="custom-img img-fluid" src="https://scontent.fdad1-1.fna.fbcdn.net/v/t1.0-9/33902502_1998818950338629_3964288508226437120_o.jpg?_nc_cat=106&_nc_ht=scontent.fdad1-1.fna&oh=bad32205426d1ce26ff6a1ce304a2dda&oe=5CA12870">

            <p class="font-weight-normal text-left">
                <br> Kính thưa Quý khách, Công ty TNHH – Salem Piano hay còn gọi Piano Salem được thành lập vào năm 2002 với
                sản phẩm chính là đàn piano cũ, trải qua 16 năm hoạt động, hiện công ty đã có mối quan hệ thương mại với
                các hãng nhạc cụ nổi tiếng trên thế giới của Đức, Pháp, Hà Lan, Italia, Mỹ, Anh, Nhật Bản, Đài Loan, Trung
                Quốc, Hàn Quốc,… Chủng loại sản phẩm cũng được mở rộng phong phú, đa dạng hơn với các loại nhạc cụ được nhập
                từ các nước nói trên như đàn Piano cơ, Piano điện tử, Organ, Guitar, Trống, Kèn, các thiết bị âm thanh và
                phụ kiện âm nhạc khác
            </p>
            <img class="custom-img img-fluid" src="https://scontent.fdad1-1.fna.fbcdn.net/v/t1.0-9/17553863_1799245863629273_4933453990315646529_n.jpg?_nc_cat=105&_nc_ht=scontent.fdad1-1.fna&oh=a87eebbef4d531c04e2879d5e0736b4e&oe=5CD62315">

            <p class="font-weight-normal text-left">
                <br> Đến nay, sau nhiều năm hoạt động, với đội ngũ cán bộ, nhân viên năng động, nhiệt tình, có trình độ chuyên
                môn cao, Công ty Salem Piano đã được khách hàng tin tưởng và trở thành một trong những Công ty nhạc cụ lớn
                nhất Thành phố Đà Nẵng.
            </p>
            <img class="custom-img img-fluid" src="https://scontent.fdad2-1.fna.fbcdn.net/v/t1.0-9/40797690_922850404576508_6521566706903547904_o.jpg?_nc_cat=107&_nc_ht=scontent.fdad2-1.fna&oh=2f35f059b95d3497d975a74b53a78a07&oe=5CCBAA80">


            <p class="font-weight-bold text-left">
                <br> Cửa hàng Salem Piano cam kết đem đến cho khách hàng:
            </p>
            <p class="font-weight-normal text-left">
                <i class="fa fa-angle-double-right fa-1x blue-text"></i>
                Hàng hóa chính hãng, đảm bảo chất lượng
            </p>

            <p class="font-weight-normal text-left">
                <i class="fa fa-angle-double-right fa-1x blue-text"></i>
                Giá hàng hoá phải chăng
            </p>

            <p class="font-weight-normal text-left">
                <i class="fa fa-angle-double-right fa-1x blue-text"></i>
                Giao hàng nhanh chóng, thuận tiện
            </p>

            <p class="font-weight-normal text-left">
                <i class="fa fa-angle-double-right fa-1x blue-text"></i>
                Đội ngũ nhân viên giàu chuyên nghiệp, giàu kinh nghiệm sẽ tư vấn những giải pháp hợp lý, tối ưu, phù hợp nhu cầu của khách
                hàng
            </p>

            <p class="font-weight-normal text-left">
                <i class="fa fa-angle-double-right fa-1x blue-text"></i>
                Chế độ bảo trì, bảo hành tiện lợi
            </p>
        </div>
    </div>
</div>