<app-menu></app-menu>

<div>
    <div class="pyro">
        <div class="before"></div>
        <div class="after"></div>
    </div>
    <router-outlet>

    </router-outlet>

</div>
<div class="fixed-action-btn animated  infinite bounce" style="bottom: 10px; left: 2px;">


    <a href="tel:0394690998" class="btn-floating btn-large color waves-light" mdbWavesEffect (click)="fixed.toggle($event)">
        <i class="fa fa-phone"></i>
    </a>
    <div class="chip red-text">
        GỌI NGAY
    </div>
</div>
<app-footer></app-footer>